[submodule "index/deps/libbdsg-easy"]
	path = index/deps/libbdsg-easy
	url = https://github.com/vgteam/libbdsg-easy.git
[submodule "index/deps/sdsl-lite"]
	path = index/deps/sdsl-lite
	url = https://github.com/vgteam/sdsl-lite.git
[submodule "index/deps/gbwt"]
	path = index/deps/gbwt
	url = https://github.com/jltsiren/gbwt.git
